@page
@model IndexModel
@{
    ViewData["Title"] = "Hanna Bernard";
}

<div class="card-wrapper">
    <div class="card">
        <!-- front of the card-->
        <div class="front">
            <img src="~/images/Front.jpg" />
        </div>
        <!-- back of the card-->
        <div class="back">
            <img src="~/images/Back.jpg" />
        </div>
    </div>
</div>
